<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResponsiveMeetingSearch.Data.Properties.Settings.SQL2008R2_932096_meetingsConnectionString"
            connectionString="Data Source=sql2k804.discountasp.net;Initial Catalog=SQL2008R2_932096_meetings;Persist Security Info=True;User ID=SQL2008R2_932096_meetings_user"
            providerName="System.Data.SqlClient" />
        <add name="ResponsiveMeetingSearch.Data.Properties.Settings.SQL2008R2_932096_meetingsConnectionString1"
            connectionString="Data Source=sql2k804.discountasp.net;Initial Catalog=SQL2008R2_932096_meetings;Persist Security Info=True;User ID=SQL2008R2_932096_meetings_user;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>